{% extends "base.html" %}
{% block title %}Search {{ current_page }}{% endblock %}

{% block content %}

<section class="form-wrapper mt-5">
    <h2 class="h2">Search {{ current_page.title() }}</h2>
    <!-- Filter inputs -->
    <form>
        <div class="mb-3">
            <label for="date" class="form-label" name="start-date">Start date</label>
            <input type="date" class="form-control" id="start-date">
        </div>
        <div class="mb-3">
            <label for="date" class="form-label" name="end-date">End date</label>
            <input type="date" class="form-control" id="end-date">
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</section>

<section class="results mt-5">
    <h2>Results</h2>

    <!-- Results table -->
    <table class="table vh-100">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Symbol</th>
                <th scope="col">Date</th>
                <th scope="col">High</th>
                <th scope="col">Low</th>
                <th scope="col">Open</th>
                <th scope="col">Close</th>
                <th scope="col">Volume</th>
                <th scope="col">Marketcap</th>
            </tr>
        </thead>

        <!-- Start table empty -->
        <tbody class="table-group-divider">
            
        </tbody>
    </table>

    <!-- Nav -->
</section>


{% endblock %}

{% block js %}
<script>
    const current_page = "{{ current_page }}";

</script>
{{ super() }}

<script src="{{ url_for('static', filename='js/form-search.js')  }}"></script>
{% endblock %}