{% extends "base.html" %}
{% block title %}Search {{ current_page }}{% endblock %}

{% block content %}

<section class="form-wrapper mt-5">
    <h2 class="h2">Search {{ current_page.title() }}</h2>
    <!-- Filter inputs -->
    <form>
        <div class="mb-3">
            <label for="date" class="form-label" name="start-date">Start date</label>
            <input type="date" class="form-control" id="start-date">
        </div>
        <div class="mb-3">
            <label for="date" class="form-label" name="end-date">End date</label>
            <input type="date" class="form-control" id="end-date">
        </div>
        <button type="submit" class="btn btn-primary rounded-pill px-4 mx-1">Search</button>
        <button type="reset" class="btn btn-secondary rounded-pill px-4 mx-1">Reset</button>
    </form>
</section>

<section class="results mt-5">
    <h2>Results</h2>

    <!-- Results table -->
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Symbol</th>
                <th scope="col">Date</th>
                <th scope="col">High</th>
                <th scope="col">Low</th>
                <th scope="col">Open</th>
                <th scope="col">Close</th>
                <th scope="col">Volume</th>
                <th scope="col">Marketcap</th>
            </tr>
        </thead>

        <!-- Start table empty rows -->
        <tbody class="table-group-divider">
        </tbody>
    </table>

    <!-- Nav
    <nav id="pagination" aria-label="results navigation" class="d-none">
        <ul class="pagination">
          <li class="page-item"><button class="page-link">Previous</button></li>
          <li class="page-item"><button class="page-link">1</button></li>
          <li class="page-item"><button class="page-link">2</button></li>
          <li class="page-item"><button class="page-link">3</button></li>
          <li class="page-item"><button class="page-link">Next</button></li>
        </ul>
      </nav> -->

      <!-- Loading screen -->
      <div class="loading vw-100 vh-100 d-flex align-items-center justify-content-center position-fixed top-0 start-0 bg-light d-none"  style="--bs-bg-opacity: .5;">
        <div class="spinner-border text-primary" role="status" style="width: 3rem; height: 3rem;">
            <span class="visually-hidden">Loading...</span>
        </div>
      </div>
</section>


{% endblock %}

{% block js %}
<script>
    const current_page = "{{ current_page }}";
</script>
<script src="{{ url_for('static', filename='js/loading-modal.js')  }}"></script>
<script src="{{ url_for('static', filename='js/form-search.js')  }}"></script>
{{ super() }}
{% endblock %}